.title {
  color: rgb(12, 12, 12);
  padding-bottom: 20px;
  text-align: center;
}
.text {
  color: #777;
  text-align: justify;
}
.btn {
  display: block;
  width: 150px;
  padding: 8px 0;
  margin: 20px auto;
  background: #8d1bf1;
  border-radius: 4px;
  color: white;
  text-align: center;
}
/* @media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
} */
